<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${title}">Testly</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Montserrat:wght@600;800&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
<link rel="shortcut icon" th:href="@{/assets/img/logo.webp}" />
</head>

<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container">
				<a class="logo navbar-brand d-flex align-items-center"
					th:href="@{/}"> <img th:src="@{/assets/img/logo.webp}"
					alt="logo" width="32" class="me-2"> <span>Testly</span>
				</a>

				<div class="ms-auto d-flex gap-3 align-items-center">

					<div sec:authorize="isAnonymous()" class="d-flex gap-2">
						<a href="http://localhost:5173/login" class="btn btn-ghost">Iniciar
							Sesión</a> <a href="http://localhost:5173/register"
							class="btn btn-primary">Registrarse</a>
					</div>

					<div sec:authorize="isAuthenticated()" class="dropdown">
						<button class="btn-profile dropdown-toggle" type="button"
							id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="material-symbols-outlined">account_circle</span>
						</button>

						<ul class="dropdown-menu dropdown-menu-end shadow-lg">
							<li class="px-3 py-2 border-bottom border-secondary mb-1"><small
								class="text-dim d-block">Usuario:</small> <span
								class="text-accent fw-bold" sec:authentication="name">Nombre</span>
							</li>

							<li><a class="dropdown-item d-flex align-items-center gap-2"
								href="localhost:5173/admin"> <span
									class="material-symbols-outlined">emoji_events</span> Mi
									Puntuación
							</a></li>

							<li sec:authorize="hasRole('ADMIN')"><a
								class="dropdown-item d-flex align-items-center gap-2"
								href="http://localhost:5174/myscore"> <span
									class="material-symbols-outlined">settings</span> Panel Admin
							</a></li>

							<li><hr class="dropdown-divider border-secondary"></li>

							<li>
								<form th:action="@{/auth/logout}" method="post"
									style="display: inline;">
									<button type="submit"
										class="dropdown-item text-danger d-flex align-items-center gap-2"
										style="background: none; border: none; width: 100%;">
										<span class="material-symbols-outlined">logout</span> Cerrar
										Sesión
									</button>
								</form>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</nav>
	</div>

	<footer th:fragment="footer" class="py-4 text-center">
		<p>&copy; 2024 Testly. Todos los derechos reservados.</p>
	</footer>
</body>
</html>